<a href="https://colab.research.google.com/github/MSR806/iBHubs_AI/blob/main/Pandas/2.%20Pandas_Indexes_and_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

# Downloading and Loading Datasets
Downloading all the required csv files and loading the data into the dataframes

In [11]:
# eCommerce Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv

shopping_df = pd.read_csv('shopping_data_v2.csv')

--2021-01-04 10:47:24--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.123
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16278053 (16M) [text/csv]
Saving to: ‘shopping_data_v2.csv’

shopping_data_v2.cs 100%[===================>]  15.52M  5.82MB/s    in 2.7s

2021-01-04 10:47:27 (5.82 MB/s) - ‘shopping_data_v2.csv’ saved [16278053/16278053]

In [12]:
# Covid Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

covid_df = pd.read_csv('italy-covid-daywise.csv')

--2021-01-04 10:47:28--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.34
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.34|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6619 (6.5K) [text/csv]
Saving to: ‘italy-covid-daywise.csv.2’

italy-covid-daywise 100%[===================>]   6.46K  --.-KB/s    in 0s

2021-01-04 10:47:29 (245 MB/s) - ‘italy-covid-daywise.csv.2’ saved [6619/6619]

In [13]:
# Stackoverflow Survey Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

survey_df = pd.read_csv('survey_results_public.csv')

--2021-01-04 10:47:29--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.34
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.34|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94603888 (90M) [text/csv]
Saving to: ‘survey_results_public.csv’

survey_results_publ 100%[===================>]  90.22M  12.6MB/s    in 8.8s

2021-01-04 10:47:39 (10.3 MB/s) - ‘survey_results_public.csv’ saved [94603888/94603888]

In [14]:
# Film Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
 
films_df = pd.read_csv('film.csv')

--2021-01-04 10:47:40--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.66.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.66.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102889 (100K) [text/csv]
Saving to: ‘film.csv’

film.csv            100%[===================>] 100.48K   215KB/s    in 0.5s

2021-01-04 10:47:42 (215 KB/s) - ‘film.csv’ saved [102889/102889]

# Display Options

In [15]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

In [16]:
pd.set_option('display.max_rows', 8)

In [17]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
...          ...  ...                                        ...
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**To display more than 10 rows when the dataframe is truncated, set the `min_rows` option to be greater than 10.**

In [18]:
pd.set_option('display.min_rows', 25)
pd.set_option('display.max_rows', 30)
shopping_df

        Order ID  ...                            Purchase Address
0         176558  ...                917 1st St, Dallas, TX 75001
1         176559  ...           682 Chestnut St, Boston, MA 02215
2         176560  ...        669 Spruce St, Los Angeles, CA 90001
3         176560  ...        669 Spruce St, Los Angeles, CA 90001
4         176561  ...           333 8th St, Los Angeles, CA 90001
5         176562  ...      381 Wilson St, San Francisco, CA 94016
6         176563  ...            668 Center St, Seattle, WA 98101
7         176564  ...             790 Ridge St, Atlanta, GA 30301
8         176565  ...      915 Willow St, San Francisco, CA 94016
9         176566  ...                 83 7th St, Boston, MA 02215
10        176567  ...           444 7th St, Los Angeles, CA 90001
11        176568  ...               438 Elm St, Seattle, WA 98101
...          ...  ...                                         ...
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

In [19]:
pd.set_option('display.max_columns', 2)

In [20]:
shopping_df

        Order ID  ...                            Purchase Address
0         176558  ...                917 1st St, Dallas, TX 75001
1         176559  ...           682 Chestnut St, Boston, MA 02215
2         176560  ...        669 Spruce St, Los Angeles, CA 90001
3         176560  ...        669 Spruce St, Los Angeles, CA 90001
4         176561  ...           333 8th St, Los Angeles, CA 90001
5         176562  ...      381 Wilson St, San Francisco, CA 94016
6         176563  ...            668 Center St, Seattle, WA 98101
7         176564  ...             790 Ridge St, Atlanta, GA 30301
8         176565  ...      915 Willow St, San Francisco, CA 94016
9         176566  ...                 83 7th St, Boston, MA 02215
10        176567  ...           444 7th St, Los Angeles, CA 90001
11        176568  ...               438 Elm St, Seattle, WA 98101
...          ...  ...                                         ...
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**To display all the rows, set max_rows to None.**

In [21]:
pd.set_option("display.max_rows", None)
shopping_df

**To reset all the display options**

In [22]:
pd.reset_option('display')

In [23]:
shopping_df

# Index


*   An index contains **identifiers for rows**. These are usually unique, but pandas doesn't enforce the uniqueness.
*   Each identifier is also called a **label**.

In [24]:
print(shopping_df.index)

print(shopping_df.index.name)

## Changing the Index

### pd.DataFrame.set_index
* **`pd.DataFrame.set_index(keys, inplace=False)`**
  * Set the DataFrame index (row labels) using one or more existing columns or arrays (of appropriate length).
  * The index can replace the existing index or expand on it.

In [ ]:
shopping_df.columns

In [ ]:
shopping_df.set_index('Order ID')

In [ ]:
shopping_df

**Create a Multi-Index using the columns `Order ID` and `Product`:**

In [ ]:
shopping_df = pd.read_csv('shopping_data_v2.csv')

shopping_df.set_index(['Order ID', 'Product'])

**Use `inplace = True` to modify the DataFrame in place.**

In [ ]:
shopping_df.set_index('Order ID', inplace = True)

In [ ]:
shopping_df

### Setting the index while reading the csv file

In [ ]:
shopping_df = pd.read_csv('shopping_data_v2.csv', index_col = 'Order ID')
shopping_df

### pd.DataFrame.reset_index

* `pd.DataFrame.reset_index(drop=False, inplace=False)`
  * Returns a DataFrame with the `new index` or `None` if `inplace=True`.
  * Reset the index of the DataFrame, and use the default one instead.

In [ ]:
shopping_df.reset_index()

**We can use the `drop` parameter to avoid the old index being added as a column:**

In [ ]:
shopping_df.reset_index(drop=True)

In [ ]:
shopping_df

In [ ]:
shopping_df.reset_index(inplace=True)

In [ ]:
shopping_df

## Accessing data with updated Index: `loc`

**Changing the index changes the way we access the data with `loc`**

In [ ]:
shopping_df.set_index("Order ID", inplace=True)

In [39]:
# The following code throws error

shopping_df.loc[2, 'Product': 'Order Date']

KeyError: ignored

In [40]:
shopping_df.loc[176560, 'Product': 'Order Date']

                   Product  Quantity Ordered  Price Each      Order Date
Order ID
176560        Google Phone                 1      600.00  04/12/19 14:38
176560    Wired Headphones                 1       11.99  04/12/19 14:38

## Using methods based on Index

### pd.DataFrame.sort_index

* `pd.DataFrame.sort_index(axis=0, ascending=True, inplace=False, key=None)`
  * Returns a new DataFrame sorted by the label if `inplace=False`, otherwise updates the original DataFrame and returns None.

In [41]:
shopping_df.sort_index()

                             Product  ...                        Purchase Address
Order ID                              ...
141234                        iPhone  ...         944 Walnut St, Boston, MA 02215
141235      Lightning Charging Cable  ...        185 Maple St, Portland, OR 97035
141236              Wired Headphones  ...   538 Adams St, San Francisco, CA 94016
141237              27in FHD Monitor  ...      738 10th St, Los Angeles, CA 90001
141238              Wired Headphones  ...           387 10th St, Austin, TX 73301
...                              ...  ...                                     ...
319666      Lightning Charging Cable  ...  14 Madison St, San Francisco, CA 94016
319667         AA Batteries (4-pack)  ...    549 Willow St, Los Angeles, CA 90001
319668               Vareebadd Phone  ...        273 Wilson St, Seattle, WA 98101
319669              Wired Headphones  ...          778 River St, Dallas, TX 75001
319670    Bose SoundSport Headphones  ...  747 Chestnut St, Los Angeles, CA 90001

[185950 rows x 5 columns]

* By default, it sorts in ascending order, to sort in descending order, use `ascending=False`

In [42]:
shopping_df.sort_index(ascending=False)

                             Product  ...                        Purchase Address
Order ID                              ...
319670    Bose SoundSport Headphones  ...  747 Chestnut St, Los Angeles, CA 90001
319669              Wired Headphones  ...          778 River St, Dallas, TX 75001
319668               Vareebadd Phone  ...        273 Wilson St, Seattle, WA 98101
319667         AA Batteries (4-pack)  ...    549 Willow St, Los Angeles, CA 90001
319666      Lightning Charging Cable  ...  14 Madison St, San Francisco, CA 94016
...                              ...  ...                                     ...
141238              Wired Headphones  ...           387 10th St, Austin, TX 73301
141237              27in FHD Monitor  ...      738 10th St, Los Angeles, CA 90001
141236              Wired Headphones  ...   538 Adams St, San Francisco, CA 94016
141235      Lightning Charging Cable  ...        185 Maple St, Portland, OR 97035
141234                        iPhone  ...         944 Walnut St, Boston, MA 02215

[185950 rows x 5 columns]

* A `key` function can be specified which is applied to the index before sorting.

In [43]:
sort_df = pd.DataFrame({"int_values": [1, 2, 3, 4]}, index=['a', 'E', 'F', 'g'])
sort_df.sort_index(key=lambda x: x.str.lower())

   int_values
a           1
E           2
F           3
g           4

### pd.DataFrame.first_valid_index

* Returns the `index` of the first non-NA/null value.

In [44]:
import numpy as np
df1 = pd.DataFrame({
    "name":[np.nan, "Sonu", "Raj"],
    "place":[np.nan, "Bangalore", "Vijayawada"]
})
df1

   name       place
0   NaN         NaN
1  Sonu   Bangalore
2   Raj  Vijayawada

In [45]:
df1.first_valid_index()

1

# Filtering

## Creating Masks

In [46]:
shopping_df['Price Each']

Order ID
176558     11.95
176559     99.99
176560    600.00
176560     11.99
176561     11.99
           ...
176554     14.95
176555    149.99
176556      2.99
176557    700.00
176557     14.95
Name: Price Each, Length: 185950, dtype: float64

In [47]:
price_filter = shopping_df['Price Each'] > 100
price_filter

Order ID
176558    False
176559    False
176560     True
176560    False
176561    False
          ...
176554    False
176555     True
176556    False
176557     True
176557    False
Name: Price Each, Length: 185950, dtype: bool

- The boolean expression returns a series containing `True` and `False` boolean values.
- You can use this series to select a subset of rows from the original dataframe, corresponding to the `True` values in the series.

In [48]:
shopping_df[price_filter]

                           Product  ...                           Purchase Address
Order ID                            ...
176560                Google Phone  ...       669 Spruce St, Los Angeles, CA 90001
176565          Macbook Pro Laptop  ...     915 Willow St, San Francisco, CA 94016
176567                Google Phone  ...          444 7th St, Los Angeles, CA 90001
176569      27in 4K Gaming Monitor  ...              657 Hill St, Dallas, TX 75001
176572    Apple Airpods Headphones  ...    149 Dogwood St, New York City, NY 10001
...                            ...  ...                                        ...
176549                      iPhone  ...         604 Park St, Los Angeles, CA 90001
176551          LG Washing Machine  ...      567 River St, San Francisco, CA 94016
176552    Apple Airpods Headphones  ...         578 Main St, Los Angeles, CA 90001
176555            27in FHD Monitor  ...         42 4th St, San Francisco, CA 94016
176557                      iPhone  ...  83 Washington St, San Francisco, CA 94016

[68964 rows x 5 columns]

In [49]:
shopping_df.loc[price_filter, 'Price Each']

Order ID
176560     600.00
176565    1700.00
176567     600.00
176569     389.99
176572     150.00
           ...
176549     700.00
176551     600.00
176552     150.00
176555     149.99
176557     700.00
Name: Price Each, Length: 68964, dtype: float64

In [50]:
shopping_df.loc[price_filter, 'Price Each':'Purchase Address']

          Price Each      Order Date                           Purchase Address
Order ID
176560        600.00  04/12/19 14:38       669 Spruce St, Los Angeles, CA 90001
176565       1700.00  04/24/19 10:38     915 Willow St, San Francisco, CA 94016
176567        600.00  04/18/19 17:18          444 7th St, Los Angeles, CA 90001
176569        389.99  04/16/19 19:23              657 Hill St, Dallas, TX 75001
176572        150.00  04/04/19 20:30    149 Dogwood St, New York City, NY 10001
...              ...             ...                                        ...
176549        700.00  03/20/19 01:24         604 Park St, Los Angeles, CA 90001
176551        600.00  03/20/19 23:49      567 River St, San Francisco, CA 94016
176552        150.00  03/08/19 14:07         578 Main St, Los Angeles, CA 90001
176555        149.99  03/22/19 20:27         42 4th St, San Francisco, CA 94016
176557        700.00  03/30/19 12:32  83 Washington St, San Francisco, CA 94016

[68964 rows x 3 columns]

## Using Logical and Relational Operators

In [51]:
price_range_filter = (shopping_df['Price Each'] > 10) & (shopping_df['Price Each'] < 20)
shopping_df.loc[price_range_filter]

                           Product  ...                            Purchase Address
Order ID                            ...
176558        USB-C Charging Cable  ...                917 1st St, Dallas, TX 75001
176560            Wired Headphones  ...        669 Spruce St, Los Angeles, CA 90001
176561            Wired Headphones  ...           333 8th St, Los Angeles, CA 90001
176562        USB-C Charging Cable  ...      381 Wilson St, San Francisco, CA 94016
176564        USB-C Charging Cable  ...             790 Ridge St, Atlanta, GA 30301
...                            ...  ...                                         ...
176547            Wired Headphones  ...               998 Pine St, Boston, MA 02215
176550            Wired Headphones  ...       16 Sunset St, San Francisco, CA 94016
176553        USB-C Charging Cable  ...  437 Washington St, New York City, NY 10001
176554    Lightning Charging Cable  ...        672 12th St, San Francisco, CA 94016
176557    Lightning Charging Cable  ...   83 Washington St, San Francisco, CA 94016

[62443 rows x 5 columns]

**Excluding the rows which satisfy the given condition**

In [52]:
neg_filter = (shopping_df['Price Each'] >= 10)
shopping_df[~neg_filter]

                         Product  ...                           Purchase Address
Order ID                          ...
176570     AA Batteries (4-pack)  ...              186 12th St, Dallas, TX 75001
176575    AAA Batteries (4-pack)  ...       433 Hill St, New York City, NY 10001
176579     AA Batteries (4-pack)  ...  886 Jefferson St, New York City, NY 10001
176583    AAA Batteries (4-pack)  ...         146 Jackson St, Portland, OR 97035
176586    AAA Batteries (4-pack)  ...     365 Center St, San Francisco, CA 94016
...                          ...  ...                                        ...
176529     AA Batteries (4-pack)  ...        227 4th St, San Francisco, CA 94016
176539    AAA Batteries (4-pack)  ...               460 4th St, Dallas, TX 75001
176545    AAA Batteries (4-pack)  ...     515 Center St, San Francisco, CA 94016
176548    AAA Batteries (4-pack)  ...            9 Sunset St, Portland, OR 97035
176556    AAA Batteries (4-pack)  ...          871 7th St, Los Angeles, CA 90001

[41218 rows x 5 columns]

## Using `str` methods

In [53]:
shopping_df['Product']

Order ID
176558          USB-C Charging Cable
176559    Bose SoundSport Headphones
176560                  Google Phone
176560              Wired Headphones
176561              Wired Headphones
                     ...
176554      Lightning Charging Cable
176555              27in FHD Monitor
176556        AAA Batteries (4-pack)
176557                        iPhone
176557      Lightning Charging Cable
Name: Product, Length: 185950, dtype: object

In [54]:
filter = shopping_df['Product'].str.contains('Headphones')
shopping_df[filter]

                             Product  ...                        Purchase Address
Order ID                              ...
176559    Bose SoundSport Headphones  ...       682 Chestnut St, Boston, MA 02215
176560              Wired Headphones  ...    669 Spruce St, Los Angeles, CA 90001
176561              Wired Headphones  ...       333 8th St, Los Angeles, CA 90001
176563    Bose SoundSport Headphones  ...        668 Center St, Seattle, WA 98101
176566              Wired Headphones  ...             83 7th St, Boston, MA 02215
...                              ...  ...                                     ...
176542      Apple Airpods Headphones  ...  802 Lakeview St, Los Angeles, CA 90001
176546              Wired Headphones  ...      3 Church St, Los Angeles, CA 90001
176547              Wired Headphones  ...           998 Pine St, Boston, MA 02215
176550              Wired Headphones  ...   16 Sunset St, San Francisco, CA 94016
176552      Apple Airpods Headphones  ...      578 Main St, Los Angeles, CA 90001

[47756 rows x 5 columns]

In [55]:
filter = shopping_df['Product'].str.endswith('Cable')
shopping_df[filter]

                           Product  ...                            Purchase Address
Order ID                            ...
176558        USB-C Charging Cable  ...                917 1st St, Dallas, TX 75001
176562        USB-C Charging Cable  ...      381 Wilson St, San Francisco, CA 94016
176564        USB-C Charging Cable  ...             790 Ridge St, Atlanta, GA 30301
176568    Lightning Charging Cable  ...               438 Elm St, Seattle, WA 98101
176571    Lightning Charging Cable  ...           253 Johnson St, Atlanta, GA 30301
...                            ...  ...                                         ...
176540    Lightning Charging Cable  ...                142 4th St, Austin, TX 73301
176544    Lightning Charging Cable  ...                436 8th St, Dallas, TX 75001
176553        USB-C Charging Cable  ...  437 Washington St, New York City, NY 10001
176554    Lightning Charging Cable  ...        672 12th St, San Francisco, CA 94016
176557    Lightning Charging Cable  ...   83 Washington St, San Francisco, CA 94016

[43561 rows x 5 columns]

## pd.DataFrame.query

* `pd.DataFrame.query(expr, inplace=False, **kwargs)`
  * Returns a DataFrame resulting from the provided query expression.

In [56]:
pd.DataFrame.query?

In [57]:
df = pd.DataFrame({'A': [1, 6],

                   'B': [10, 3],

                   'C': [10, 5]})

df.query('B == C & A < B')

   A   B   C
0  1  10  10

The above expression is also equivalent to:

In [58]:
df[(df.B == df.C) & (df.A < df.B)]

   A   B   C
0  1  10  10



---

# Try It Yourself

For the following questions, use the **covid** dataset.

0.   Load the dataset into a dataframe using `read_csv`
1.   Make the `date` column as the index.
2.   Sort the records in the dataset based on the `date` column.
3.   Find out on which days more than 1000 cases were reported.
4.   Fetch the `new_cases` and `new_tests` reported in the month of June.
5.   Find the first row in which valid `new_tests` were reported.


For the following questions, use the **film** dataset

6.  Make the '`year` and `title` as indices.
7.  Fetch the films where the `actor` name contains `Jasen` and the `popularity` is greater than 50.

## For the following questions, use the **covid** dataset.

### **0.   Load the dataset into a dataframe using `read_csv`**

In [59]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [60]:
covid_df.head()

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

### **1.   Make the `date` column as the index.**

In [61]:
covid_df.set_index('date', inplace=True)
covid_df

            new_cases  new_deaths  new_tests
date
2019-12-31        0.0         0.0        NaN
2020-01-01        0.0         0.0        NaN
2020-01-02        0.0         0.0        NaN
2020-01-03        0.0         0.0        NaN
2020-01-04        0.0         0.0        NaN
...               ...         ...        ...
2020-08-30     1444.0         1.0    53541.0
2020-08-31     1365.0         4.0    42583.0
2020-09-01      996.0         6.0    54395.0
2020-09-02      975.0         8.0        NaN
2020-09-03     1326.0         6.0        NaN

[248 rows x 3 columns]

### **2.   Sort the records in the dataset based on the `date` column.**

In [62]:
covid_df.sort_index(inplace=True)

### **3.   Find out on which days more than 1000 cases were reported.**

In [63]:
covid_df[covid_df.new_cases>1000].index

Index(['2020-03-08', '2020-03-09', '2020-03-10', '2020-03-12', '2020-03-13',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
       '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
       '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02',
       '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
       '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
       '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22',
       '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
       '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07',
       '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-13', '2020-08-23',
       '2020-08-24', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-03'],
      dtype='object', name='date')

### **4.   Fetch the `new_cases` and `new_tests` reported in the month of June.**

In [64]:
covid_df.loc['2020-06-01':'2020-06-31']

            new_cases  new_deaths  new_tests
date
2020-06-01      355.0        75.0    18053.0
2020-06-02      178.0        60.0    25628.0
2020-06-03      318.0        55.0    20035.0
2020-06-04      321.0        71.0    27451.0
2020-06-05      177.0        88.0    40470.0
2020-06-06      518.0        85.0    34036.0
2020-06-07      270.0        72.0    27894.0
2020-06-08      197.0        53.0    16301.0
2020-06-09      280.0        65.0    32200.0
2020-06-10      283.0        79.0    37865.0
2020-06-11      202.0        71.0    32991.0
2020-06-12      379.0        53.0    37651.0
2020-06-13      163.0        56.0    32880.0
2020-06-14      346.0        78.0    29545.0
2020-06-15      338.0        44.0    17463.0
2020-06-16      301.0        26.0    27762.0
2020-06-17      210.0        34.0    33957.0
2020-06-18      328.0        43.0    32921.0
2020-06-19      331.0        66.0    28570.0
2020-06-20     -148.0        47.0    29875.0
2020-06-21      264.0        49.0    24581.0
2020-06-22      224.0        24.0    16152.0
2020-06-23      221.0        23.0    23225.0
2020-06-24      113.0        18.0    30237.0
2020-06-25      577.0       -31.0    29421.0
2020-06-26      296.0        34.0    28331.0
2020-06-27      255.0        30.0    29721.0
2020-06-28      175.0         8.0    21183.0
2020-06-29      174.0        22.0    15484.0
2020-06-30      126.0         6.0    28471.0

### **5.   Find the first row in which valid `new_tests` were reported.**

In [65]:
covid_df.apply(lambda series: series.first_valid_index())

new_cases     2019-12-31
new_deaths    2019-12-31
new_tests     2020-04-20
dtype: object

In [66]:
first_valid_new_tests = covid_df.new_tests.first_valid_index()
covid_df.loc[first_valid_new_tests]

new_cases     3047.0
new_deaths     433.0
new_tests     7841.0
Name: 2020-04-20, dtype: float64

## For the following questions, use the **film** dataset

### **6.  Make the '`year` and `title` as indices.**

In [67]:
films_df = pd.read_csv('film.csv')

In [68]:
films_df.head()

   Year  Length                    Title  ...           Director Popularity Awards
0  1990     111  Tie Me Up! Tie Me Down!  ...   Almodóvar, Pedro         68     No
1  1991     113               High Heels  ...   Almodóvar, Pedro         68     No
2  1983     104           Dead Zone, The  ...  Cronenberg, David         79     No
3  1979     122                     Cuba  ...    Lester, Richard          6     No
4  1978      94           Days of Heaven  ...   Malick, Terrence         14     No

[5 rows x 9 columns]

In [69]:
films_df.set_index(['Year', 'Title'], inplace=True)
films_df

                              Length          Subject  ... Popularity Awards
Year Title                                             ...
1990 Tie Me Up! Tie Me Down!     111           Comedy  ...         68     No
1991 High Heels                  113           Comedy  ...         68     No
1983 Dead Zone, The              104           Horror  ...         79     No
1979 Cuba                        122           Action  ...          6     No
1978 Days of Heaven               94            Drama  ...         14     No
...                              ...              ...  ...        ...    ...
1975 That Lucky Touch             93           Action  ...         85     No
1949 Lust for Gold                90            Drama  ...         57     No
1987 Heat                        103          Mystery  ...         69     No
1947 Night Is My Future           87            Drama  ...         17     No
1990 Witches, The                 92  Science Fiction  ...         18     No

[1128 rows x 7 columns]

### **7.  Fetch the films where the `actor` name contains `Jasen` and the `popularity` is greater than 50.**

In [70]:
films_df[(films_df.Actor.str.contains('Jasen')) & (films_df.Popularity > 50)]

Empty DataFrame
Columns: [Length, Subject, Actor, Actress, Director, Popularity, Awards]
Index: []